<div class="form">
	<form action="/new" method="post">
		<label for="url">URL: </label>
		<input type="url" name="url" id="url" placeholder="http://www.example.com" />
		<input type="submit" id="send">
	</form>
</div>
