<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>URL Shortener</title>
	<link rel="stylesheet" href="/css/main.css">
</head>
<body>
	<header>
		<div class="container">
			<ul id="page-nav">
				<li>
					<a href="/">Home</a>
				</li>
				<li>
					<a href="/links">Links</a>
				</li>
			</ul>
		</div>
	</header>
	<div class="container" role="main">
		<%= yield %>
	</div>
</body>
</html>
